name: Weekly Options Update
on:
  schedule:
    - cron: '0 7 * * 6'
  workflow_dispatch:

jobs:
  run-weekly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install yfinance pandas numpy scipy
      - name: Run Script
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python weekly_options_update.py
